*{
    font-family: 'Inter', sans-serif;
}
h1,
h2,
h3 {
    font-weight: 700;
}
img,
picture {
    max-width: 100%;
}
main{
    display: grid;
    place-content:start;
    min-height: 81vh;
    width: 70%;
    padding: 0;
    margin-top: 15px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav-bar-links > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.nav-bar-links > ul > li {
    margin-left: 1.5rem;
}
.nav-bar-links > ul > li > a{
    text-decoration: none;
    color: hsl(233, 8%, 79%);
}
.nav-bar-links > ul > li > a:hover{
    text-decoration: none;
    color: hsl(35, 77%, 62%);
}
.closebtn{
    display: none;
}
.burgger-menu{
    display: none;
}
.new-news{
    background-color: hsl(240, 100%, 8%);
    
}
.new-news > section {
    margin-left: 15px;
    margin-right: 15px;
}
.new-news > section > h3{
    color: hsl(35, 77%, 62%);
    margin-block-end: 1.3rem;
    font-size: 32px;
}
.new-news > section > h4{
    color: hsl(36, 100%, 99%);
    margin-block: 1.3rem;
}
.new-news > section > p{
    color: hsl(233, 8%, 79%);
    margin-block: 1.3rem;
    font-size: 15px;
    font-weight: 400;
}
.new-news > section > hr{
    background-color: hsl(0, 0%, 62%);
    height: 0.5px;
    width: 100%;
}
/* grid */
.web-3-image{
    grid-area:one;
}
.web-3-mobile{
    grid-area: one;
    display: none;
}
.title{
    grid-area: two;
    font-size: 36px;
    line-height: 3.3rem;
    margin-block-start: 0;
    display: flex;
    justify-content: flex-start;
    color: hsl(240, 100%, 8%);
}
.title > h1 {
    margin-block: 0;
}
.information{
    grid-area: three;
    font-size: 15px;
    color: hsl(233, 8%, 79%);
}
.information > p {
    line-height: 19px;
}
.btn-read-more{
    width: 150px;
    height: 40px;
    border-style: none;
    margin-top: 15px;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
}
.btn-read-more:hover{
    background-color: hsl(240, 100%, 8%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.new-news{
    grid-area: four;
}
.item1{
    grid-area: five;
}
.item2{
    grid-area: six;
}
.item3{
    grid-area: siven;
}
.main-grid{
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'siven';
    margin-inline: auto;
}
@media only screen and (min-width:769px) {
    .main-grid{
    grid-template-areas:
    "one one four"
    "two three four"
    "five six siven"
    }
}
@media only screen and (max-width: 768px){
    .nav-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }
    main{
        display: grid;
        place-content:start;
        min-height: 81vh;
        width: 95%;
        padding: 0;
        margin-top: 15px;
    }
    .nav-menu{
        z-index: 1;
        min-width: 35%;
        min-height: 100%;
        position: fixed;
        top: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .closebtn{
        display: block;
        position: absolute;
        right: 45px;
        z-index: 6;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
        color: black;
        visibility: hidden;
    }
    .nav-bar-links > ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 10px;
        padding-right: 55px;
        padding-top: 10rem;
        align-items:start;
        justify-content:flex-start;
    }
    .nav-bar-links > ul > li{
        margin: 8px;
        font-size: 18px;

    }
    .nav-bar-links > ul > li > a{
        text-decoration: none;
        font-weight: 600;
        color: hsl(240, 100%, 5%);
    }
    .nav-bar-links > ul > li > a:hover{
        text-decoration: none;
        color: hsl(236, 13%, 42%);
    }
    .nav-bar.active {
        left: 10%;
    }
    .item{
        margin: 2.5rem 0;
    }
    .burgger-menu{
        display: block;
        cursor: pointer;
        right: 20px;
    }
    
    .menub.active{
        display: none;
    }
    .web-3-desk{
        display: none;
    }
    .web-3-mobile{
        display: block;
    }
    main-grid{
        grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six'
        'siven';
    }
}

.list-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-grid > img{
    height: 150px;
    object-fit:fill;
}
.description{
    margin-left: 10px;
    margin-right: 10px;
}
.description > h2 {
    margin-block-start: 0px ;
    margin-block-end:10px;
    color: hsl(233, 8%, 79%);
    font-weight: 800;
    font-size: 30px;
}
.description > h4 {
    margin-block:0;
    color: hsl(240, 100%, 8%);
    font-weight: 700;
}   
.description > p {
    font-size:12px ;
    color: hsl(233, 8%, 79%);
}